################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LonScan
/LonScan/bin
/LonScan/obj
/packages
